.auth-button{
    width: 80%;
    height: calc(var(--size) * 13.5);  
    background-color: var(--transparent-color);
    border: 1px solid var(--border-color);
    border-radius: calc(var(--size) * 1.25);
    transition: all 0.3s ease;
}
.auth-button:hover{
    background-color: #f0f0f0;
    border: 1px solid var(--border-color);
}
.img-logo-auth-button{
    width: calc(var(--size) * 7);
    height: calc(var(--size) * 7);
}
.text-auth-button{
    font-size: calc(var(--size) * 4.5);
    color: var(--black-color);
}