h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2{
  font-size: calc(var(--size) * 6.5);
  font-weight: 600;
}
ul, ol {
  list-style: none;
  padding: 0;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
main{
  width: 100%;
  height: 100vh;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}