@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
:root{
    scroll-behavior: smooth;
    --secondary-color: #535353;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --transparent-color: transparent;
    --border-color: #6E6E6E;

    --white-text: var(--white-color);
    --secondary-text: var(--secondary-color);  

    --size: 0.25rem;

    --primary-font: 'ABeeZee', sans-serif;
}