:root{
    scroll-behavior: smooth;
    --primary-color: #224f45;
    --secondary-color: #aeed72;
    --third-color: #8ae286;
    --color-muted: #535353;
    --white-color: #ffffff;
    --black-color: #000000;
    --transparent-color: transparent;
    --border-color: #6E6E6E;

    --primary-text-color: var(--primary-color);
    --text-white: var(--white-color);
    --text-black: var(--black-color);
    --text-muted: var(--color-muted);  

    --size: 0.25rem;
}