<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
</head>
<body>
<h1>Bienvenido</h1>

<div th:if="${attributes}">
    <h3>Información de tu cuenta:</h3>
    <p th:text="'Nombre completo: ' + ${attributes['name']}" th:if="${attributes['name'] != null}"></p>
    <p th:text="'Nombre de pila: ' + ${attributes['given_name']}" th:if="${attributes['given_name'] != null}"></p>
    <p th:text="'Apellido: ' + ${attributes['family_name']}" th:if="${attributes['family_name'] != null}"></p>
    <p th:text="'Email: ' + ${attributes['email']}" th:if="${attributes['email'] != null}"></p>
    <img th:src="${attributes['picture']}" width="100" th:if="${attributes['picture'] != null}"/>
    <br><br>
    <p><a href="/registrar_cultivo">Registrar un nuevo cultivo</a></p>
    <br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Cerrar sesión"/>
    </form>
</div>

<div th:unless="${attributes}">
    <p><a href="/oauth2/authorization/google">Login con Google</a></p>
</div>
</body>
</html>