<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Nuevo Cultivo</title>
</head>
<body>
<h1>Registrar Nuevo Cultivo</h1>

<form action="/guardar_cultivo" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <label for="nombre">Nombre del Cultivo:</label><br>
        <input type="text" id="nombre" name="nombre" required="required"/>
    </div>
    <div>
        <label for="fechaSiembra">Fecha de Siembra:</label><br>
        <input type="date" id="fechaSiembra" name="fechaSiembra"/>
    </div>
    <div>
        <label for="departamento">Departamento:</label><br>
        <input type="text" id="departamento" name="departamento"/>
    </div>
    <div>
        <label for="distrito">Distrito:</label><br>
        <input type="text" id="distrito" name="distrito"/>
    </div>
    <button type="submit">Guardar Cultivo</button>
</form>

<p><a href="/">Volver a la página principal</a></p>
</body>
</html>